@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../font/opensans.woff2);
  src: local("Open Sans"), local("OpenSans"),
    url(../font/opensans.woff2)
      format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url(../font/opensans-light-webfont.woff2)
      format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("opensans semibold webfont"), local("opensans-semibold-webfont"),
    url(../font/opensans-semibold-webfont.woff2)
      format("woff2");
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
input,
select,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  outline: none;
  -webkit-appearance: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  background: $bgColor1;
  height: 100%;
}
.html_gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

[hidden] {
  display: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;

  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  outline: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

input,
button,
textarea,
select {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.fixScroll {
  position: fixed;
  width: 100%;
}

.router_view_title {
  font-size: 26px;
  color: $fontColor1;
  padding: 7px 0;
  margin-bottom: 12px;
}
.router_view_title_sub {
  font-size: 20px;
  color: $fontColor1;
  line-height: 20px;
  margin-bottom: 20px;
}
.router_view_info {
  font-size: 14px;
  color: $fontColor2;
  line-height: 24px;
}
