$fontColor1:#232323;
$fontColor2:#616265;
$fontColor3:#CD0F14;
$fontColor4:#C00000;


$bgColor1:#F6F8FB;
$bgColor2:#CD0F14;



$btnBgColor1:#232323;


$borderColor1:#E5E5E5;
$borderColor2:#CD0F14;
$borderColor3:#C00000;
$borderColor4:#CCCCCC;
